<h1 class="p-title">
    {{fa-icon "info-circle" fixedWidth-true}} Info
    <a class="p-link" href="https://staxx.anomali.com/detail/{{block.entity.value}}">&nbsp;(View in STAXX)</a>
</h1>
<div>
    <span class="p-key">Type: </span>
    <span class="p-value">{{details.type}} ({{details.itype}})</span>
</div>
<div>
    <span class="p-key">Confidence: </span>
    <span class="p-value" style="color:{{enrichedDetails.confidenceColor}}; font-weight: bold">{{details.confidence}}</span>
</div>
<div>
    <span class="p-key">TLP: </span>
    <span class="p-value">{{enrichedDetails.tlpDisplay}}</span>
</div>
<div>
    <span class="p-key">Severity: </span>
    <span class="p-value" style="color:{{enrichedDetails.severityColor}}; font-weight: bold">{{details.severity}}</span>
</div>
<div>
    <span class="p-key">Modified: </span>
    <span class="p-value">{{details.date_last}}</span>
</div>
<div>
    <span class="p-key">Feed Name: </span>
    <span class="p-value">{{details.feed_name}}</span>
</div>
<div>
    <span class="p-key">Source: </span>
    <span class="p-value">{{details.source}}</span>
</div>
<div>
    <span class="p-key">Classification: </span>
    <span class="p-value">{{details.classification}}</span>
</div>
<div>
    <span class="p-key">Detail: </span>
    <span class="p-value">{{details.detail}}</span>
</div>
{{#if details.actor}}
    <div>
        <span class="p-key">Actor: </span>
        <span class="p-value">{{details.actor}}</span>
    </div>
{{/if}}
{{#if details.campaign}}
    <div>
        <span class="p-key">Campaign: </span>
        <span class="p-value">{{details.campaign}}</span>
    </div>
{{/if}}
